
@{
    Layout = "_Layout";
}

@model List<ServiceContent>


<body>

    <div class="main-content py-0">

        <!-- Blockquote section -->
        <!-- Icon info section -->
        <!-- Lightbox video section -->


    </div>
    <div class="d-flex flex-column w-100">
        <div class="page-title d-flex align-items-center bg-image py-5" data-img-src="/images/upload/page-title-bg-27.jpg" style="background-image: url(&quot;/images/upload/page-title-bg-27.jpg&quot;);">
            <div class="container page-title-container">
                <div class="row py-5">
                    <div class="col text-center">

                        <h1 class="display-3 font-weight-800 text-white mb-0">
                            STRATEJİK ÇÖZÜMLER
                        </h1>

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-light-2 justify-content-center mb-0">
                                <li class="breadcrumb-item text-uppercase"><a href="#">Homepage</a></li>
                                <li class="breadcrumb-item text-uppercase"><a href="#">Our Services</a></li>
                                <li class="breadcrumb-item text-uppercase text-nowrap active" aria-current="page">Stratejik Çözümler</li>
                            </ol>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="main-content py-0">

        <!-- Blockquote section -->
        <div class="section bg-indigo py-5">
            <div class="container">
                <div class="row my-4">
                    <div class="col-lg-8 offset-lg-2">
                        <blockquote class="blockquote blockquote-light-2 text-center mb-0">
                            <p class="mb-0">Rakiplerinize fark atmak için bizi tercih edin</p>

                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <!-- Icon info section -->
        <div class="section py-5">
            <div class="container">
                <div class="row pt-5 mt-3">

                    <div class="col-md-6 col-lg-4 pb-5 mb-3 mb-lg-2">
                        <div class="icon-info-4 text-center">
                            <a class="icon-info-link" href="#">
                                <div class="icon-element pb-3 mb-4">
                                    <img src="/images/upload/service-icon-27.svg" alt="icon" class="faster animated zoomIn" data-animated="zoomIn" data-width="58px" data-height="58px" style="width: 58px; height: 58px;">
                                </div>
                                <div class="icon-info-text">
                                    <h5 class="font-weight-700 mb-3">İyi Tasarım</h5>
                                    <p class="mb-0">En iyi tasarım ve canlı renkleri kullanıyoruz</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 pb-5 mb-3 mb-lg-2">
                        <div class="icon-info-4 text-center">
                            <a class="icon-info-link" href="#">
                                <div class="icon-element pb-3 mb-4">
                                    <img src="/images/upload/service-icon-28.svg" alt="icon" class="faster animated zoomIn" data-animated="zoomIn" data-width="58px" data-height="58px" style="width: 58px; height: 58px;">
                                </div>
                                <div class="icon-info-text">
                                    <h5 class="font-weight-700 mb-3">İş Odaklı</h5>
                                    <p class="mb-0">İşimizi en üstün kalite ile yapıyoruz</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 pb-5 mb-3 mb-lg-2">
                        <div class="icon-info-4 text-center">
                            <a class="icon-info-link" href="#">
                                <div class="icon-element pb-3 mb-4">
                                    <img src="/images/upload/service-icon-29.svg" alt="icon" class="faster animated zoomIn" data-animated="zoomIn" data-width="58px" data-height="58px" style="width: 58px; height: 58px;">
                                </div>
                                <div class="icon-info-text">
                                    <h5 class="font-weight-700 mb-3">Profesyonel</h5>
                                    <p class="mb-0">Sektördeki profesyonellimizi sizler ile buluşturuyoruz</p>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Lightbox video section -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card lightbox-video d-block border-0 rounded-xl shadow-lg bg-transparent text-center mb-0">

                            <img class="card-img" src="/images/imgs/@ViewBag.Service.ImageUrlOne" alt="image">

                            <div class="card-img-overlay d-flex align-items-center justify-content-center">
                                <a data-fancybox="" href="/images/imgs/@ViewBag.Service.VideoLink" class="play-btn play-btn-lg play-btn-hover-animate">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                    <path class="play-stroke" fill="none" stroke="#fff" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7C97.3,23.7,75.7,2.3,49.9,2.5"></path>
                                    <path class="play-icon" fill="#fff" d="M39.855,36.68c0-2.2,1.559-3.1,3.464-2L66.39,48c1.905,1.1,1.905,2.9,0,4l-23.071,13.32c-1.905,1.1-3.464,0.2-3.464-2L39.855,36.68z"></path>
                                    </svg>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section bg-light py-5 mt-up150">
            <div class="container">

                <div data-height="150px" style="height: 150px;"></div>

                <div class="row my-5">
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                        <div class="text-center">

                            <h5 class="font-weight-400"> @ViewBag.Service.HeaderTwo</h5>

                            <div data-height="3px" style="height: 3px;"></div>

                            <h2 class="h1 section-title-4 font-weight-800">
                                @ViewBag.Service.HeaderOne

                            </h2>

                        </div>
                    </div>
                </div>

                <div class="row mb-5">

                    <div class="col-md-6">
                        <p>@ViewBag.Service.SubtitleOne</p>
                    </div>

                    <div class="col-md-6">
                        <p>@ViewBag.Service.SubtitleOne</p>
                    </div>

                </div>

            </div>
        </div>

        <!-- Call to action section -->
        <!-- Info section -->
        <!-- Subscribe section -->
        <div class="section bg-image py-5" data-img-src="/images/upload/service-cta-bg-02.jpg" style="background-image: url(&quot;/images/upload/service-cta-bg-02.jpg&quot;);">
            <div class="container">
                <div class="bg-indigo rounded-ultra shadow-lg px-4 py-5 p-md-5 mt-5 mt-md-0">
                    <div class="row mt-5 mb-4">
                        <div class="col-lg-10 offset-lg-1" asp-action="ServcieRequest" asp-controller="ServiceDetail">
                            <form class="form-light-2 px-md-4 px-lg-0 px-xl-4">
                                <div class="form-row">

                                    <div class="col-lg-6">
                                        <div class="px-1 pb-3 mb-3">
                                            <div class="input-group input-group-lg input-group-round">
                                                <div class="input-group-inner">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text input-group-icon"><i class="far fa-user"></i></span>
                                                    </div>
                                                    <input type="text" name="Name" class="form-control form-control-lg" placeholder="Your name" required>
                                                    <div class="input-focus-bg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="px-1 pb-3 mb-3">
                                            <div class="input-group input-group-lg input-group-round">
                                                <div class="input-group-inner">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text input-group-icon"><i class="far fa-envelope"></i></span>
                                                    </div>
                                                    <input type="text" name="Surname" class="form-control form-control-lg" placeholder="Your surname" required>
                                                    <div class="input-focus-bg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="px-1 pb-3 mb-3">
                                            <div class="input-group input-group-lg input-group-round">
                                                <div class="input-group-inner">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text input-group-icon"><i class="far fa-envelope"></i></span>
                                                    </div>
                                                    <input type="email" name="Email" class="form-control form-control-lg" placeholder="Your email" required>
                                                    <div class="input-focus-bg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="px-1 pb-3 mb-3">
                                            <div class="input-group input-group-lg input-group-round">
                                                <div class="input-group-inner">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text input-group-icon"><i class="fas fa-mobile-alt"></i></span>
                                                    </div>
                                                    <input type="tel" name="Phone" class="form-control form-control-lg" placeholder="Phone number" required>
                                                    <div class="input-focus-bg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 offset-lg-3">
                                        <div class="px-1">
                                            <div class="px-3">

                                                <div class="form-group row d-flex justify-content-center">
                                                   
                                                    <label for="agreeTerms" style="color:aliceblue">
                                                        <input type="checkbox" name="myCheck" id="agreeTerms" required><a asp-action="Index" asp-controller="KVKK" target="_blank" class="text-light font-weight-500">&nbsp;&nbsp;Kişisel Verileri Koruma Kanunu</a>'nu okudum ve onaylıyorum.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                   

                                    <div class="col-lg-6 offset-lg-3">
                                        <div class="px-1">
                                            <button type="submit" class="btn btn-lg btn-round btn-block btn-dark">Mesaj gönder</button>
                                        </div>
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Brands section -->


    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("myCheck").required;
            document.getElementById("demo").innerHTML = x;
        }
    </script>
</body>




