@{
    Layout = "_Layout";
}

@model Contact

<div class="w-100">

    <div class="d-flex flex-column w-100">
        <div class="page-title d-flex align-items-center bg-image py-5" data-img-src="/images/upload/faq-page-title.jpg" style="background-image: url(&quot;/images/upload/faq-page-title.jpg&quot;);">
            <div class="container page-title-container">
                <div class="row py-5">
                    <div class="col text-center">

                        <div class="d-none d-lg-block" data-height="80px" style="height: 80px;"></div>

                        <h1 class="display-4 font-weight-800 text-white mb-1">
                            Size nasıl yardımcı olabiliriz
                        </h1>



                        <div class="d-none d-lg-block" data-height="80px" style="height: 80px;"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="main-content py-0">

    <!-- Call to action section -->
    <div class="section bg-indigo py-5">
        <div class="container">
            <div class="row align-items-center my-2">

                <div class="col-lg-6 col-xl-4">
                    <div class="icon-info-1 mb-4 mb-xl-0">
                        <a class="icon-info-link" href="#">
                            <div class="icon-element">
                                <img src="/images/upload/contact-icon-16.svg" alt="icon" class="img-fluid fast animated zoomIn" data-animated="zoomIn" data-width="48px" data-height="48px" style="width: 48px; height: 48px;">
                            </div>
                            <div class="icon-info-text text-white-75 pl-4">
                                <h3 class="font-weight-700 text-white mb-1">@Model.PhoneOne</h3>
                                <p class="mb-0"></p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="icon-info-1 mb-4 mb-xl-0">
                        <a class="icon-info-link" href="#">
                            <div class="icon-element">
                                <img src="/images/upload/contact-icon-17.svg" alt="icon" class="img-fluid fast animated zoomIn" data-animated="zoomIn" data-width="48px" data-height="48px" style="width: 48px; height: 48px;">
                            </div>
                            <div class="icon-info-text text-white-75 pl-4">
                                <h3 class="font-weight-700 text-white mb-1">@Model.EmailOne</h3>

                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="icon-info-1">
                        <a class="icon-info-link" href="#">
                            <div class="icon-element">
                                <img src="/images/upload/contact-icon-18.svg" alt="icon" class="img-fluid fast animated zoomIn" data-animated="zoomIn" data-width="48px" data-height="48px" style="width: 48px; height: 48px;">
                            </div>
                            <div class="icon-info-text text-white-75 pl-4">
                                <h3 class="font-weight-700 text-white mb-1">24/7 Desdek</h3>
                                <p class="mb-0"></p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Topics section -->
    <div class="section bg-light py-5">
        <div class="container">

            <div class="row my-5">
                <div class="col-lg-8 offset-lg-2">
                    <div class="text-center">

                        <h5 class="font-weight-400">iş kıyafetleri için en yi çözümleri üretiyoruz.</h5>

                        <div data-height="3px" style="height: 3px;"></div>

                        <h2 class="h1 section-title-4 font-weight-800">
                            Ne Yaparız

                        </h2>

                    </div>
                </div>
            </div>

            <div class="row mb-5">

                <div class="col-md-6 col-lg-3">
                    <a href="#" class="text-reset">
                        <div class="bg-white text-center rounded-xl shadow-sm p-4">
                            <div class="py-4 mt-2">
                                <img src="/images/upload/topic-icon-01.svg" alt="icon" class="faster animated zoomIn" data-animated="zoomIn" data-width="64px" data-height="64px" style="width: 64px; height: 64px;">
                            </div>
                            <h5 class="font-weight-700">Kolay satış</h5>
                            <div class="pb-2">
                                <p>Fusce Sem Massa</p>
                            </div>
                        </div>
                    </a>
                    <div data-height="30px" style="height: 30px;"></div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <a href="#" class="text-reset">
                        <div class="bg-white text-center rounded-xl shadow-sm p-4">
                            <div class="py-4 mt-2">
                                <img src="/images/upload/topic-icon-02.svg" alt="icon" class="faster animated zoomIn" data-animated="zoomIn" data-width="64px" data-height="64px" style="width: 64px; height: 64px;">
                            </div>
                            <h5 class="font-weight-700">İş Kalitenizi Düşünüyoruz</h5>
                            <div class="pb-2">
                                <p>İş Kalitenizi Düşünüyoruz</p>
                            </div>
                        </div>
                    </a>
                    <div data-height="30px" style="height: 30px;"></div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <a href="#" class="text-reset">
                        <div class="bg-white text-center rounded-xl shadow-sm p-4">
                            <div class="py-4 mt-2">
                                <img src="/images/upload/topic-icon-03.svg" alt="icon" class="faster animated zoomIn" data-animated="zoomIn" data-width="64px" data-height="64px" style="width: 64px; height: 64px;">
                            </div>
                            <h5 class="font-weight-700">İş Kalitenizi Düşünürüz</h5>
                            <div class="pb-2">
                                <p>Rutrum In Pulvinar</p>
                            </div>
                        </div>
                    </a>
                    <div data-height="30px" style="height: 30px;"></div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <a href="#" class="text-reset">
                        <div class="bg-white text-center rounded-xl shadow-sm p-4">
                            <div class="py-4 mt-2">
                                <img src="/images/upload/topic-icon-04.svg" alt="icon" class="faster animated zoomIn" data-animated="zoomIn" data-width="64px" data-height="64px" style="width: 64px; height: 64px;">
                            </div>
                            <h5 class="font-weight-700">Ambalaj Ürünleri</h5>
                            <div class="pb-2">
                                <p>Malesuada In Dolor</p>
                            </div>
                        </div>
                    </a>
                    <div data-height="30px" style="height: 30px;"></div>
                </div>

            </div>

        </div>
    </div>

    <!-- Accordion answers section -->
    <div class="section py-5">
        <div class="container">

            <div class="row my-5">
                <div class="col-lg-8 offset-lg-2">
                    <div class="text-center">



                        <div data-height="3px" style="height: 3px;"></div>

                        <h2 class="h1 section-title-4 font-weight-800">
                            BİZİ SEÇMENİZ İÇİN 5 SEBEP

                        </h2>

                    </div>
                </div>
            </div>

            <div class="row mb-5">

                <div class="col-lg-6">
                    <div class="pr-xl-3 pb-5 pb-lg-0">
                        <div class="accordion" id="topicOne">

                            <div class="card">
                                <div class="card-header shadow-sm" id="topicOneHeadingOne">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#topicOneCollapseOne" aria-expanded="false" aria-controls="topicOneCollapseOne">
                                        10 Yıllık Tecrube ve Profesyonellik
                                    </h5>
                                </div>
                                <div id="topicOneCollapseOne" class="collapse" aria-labelledby="topicOneHeadingOne" data-parent="#topicOne" style="">
                                    <div class="card-body">
                                        Tecrubemiz ve profesyonelliğimiz işimize daima yansır, size en iyi ürün kalitesini sunarız.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header shadow-sm" id="topicOneHeadingTwo">
                                    <h5 class="accordion-title" data-toggle="collapse" data-target="#topicOneCollapseTwo" aria-expanded="true" aria-controls="topicOneCollapseTwo">
                                        Ulusal Çapta Hizmet
                                    </h5>
                                </div>
                                <div id="topicOneCollapseTwo" class="collapse" aria-labelledby="topicOneHeadingTwo" data-parent="#topicOne">
                                    <div class="card-body">
                                        Türkiyenin neresinde olursanız olun ürünlerimizi alabilirsiniz.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header shadow-sm" id="topicOneHeadingThree">
                                    <h5 class="accordion-title" data-toggle="collapse" data-target="#topicOneCollapseThree" aria-expanded="true" aria-controls="topicOneCollapseThree">
                                        7/24 Müşteri Desteği
                                    </h5>
                                </div>
                                <div id="topicOneCollapseThree" class="collapse" aria-labelledby="topicOneHeadingThree" data-parent="#topicOne">
                                    <div class="card-body">
                                        Haftanın 7 Günü 24 saat destek hizmeti alabilirsiniz.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header shadow-sm" id="topicOneHeadingFour">
                                    <h5 class="accordion-title" data-toggle="collapse" data-target="#topicOneCollapseFour" aria-expanded="true" aria-controls="topicOneCollapseFour">
                                        Kaliteli Ürün Anlayışı
                                    </h5>
                                </div>
                                <div id="topicOneCollapseFour" class="collapse" aria-labelledby="topicOneHeadingFour" data-parent="#topicOne">
                                    <div class="card-body">
                                        Demircan Ambalaj sizler için en kaliteli ürünleri üretir.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="pl-xl-3">
                        <div class="accordion" id="topicTwo">

                            <div class="card">
                                <div class="card-header shadow-sm" id="topicTwoHeadingOne">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#topicTwoCollapseOne" aria-expanded="false" aria-controls="topicTwoCollapseOne">
                                        Çevre Politikası
                                    </h5>
                                </div>
                                <div id="topicTwoCollapseOne" class="collapse" aria-labelledby="topicTwoHeadingOne" data-parent="#topicTwo" style="">
                                    <div class="card-body">
                                        Gelecek nesillere yaşanabilir bir ortam bırakmak için çevreye saygımız çerçevesinde teknik olarak doğaya zarar vermeyen ürünleri geliştiririz aşağıdaki prensipler doğrultusunda yönetmeyi temel politikamız olarak benimsemekteyiz. Ayrıca bu politikamızı düzenli olarak gözden geçirmeyi taahhüt ediyoruz.
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Call to action section -->
    <div class="section bg-image py-5" data-img-src="/images/upload/faq-cta-bg.jpg" style="background-image: url(&quot;/images/upload/faq-cta-bg.jpg&quot;);">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-8 offset-lg-2">
                    <div class="text-center my-4">

                        <h4 class="font-weight-300 text-white mb-3 mb-md-2">Size yardım etmek için buradayız</h4>



                        <div class="lead-sm text-white-75 mb-5">
                            Bizimle iletişime geçmek için tıklayınız
                        </div>

                        <div data-height="10px" style="height: 10px;"></div>

                        <a asp-action="Index" asp-controller="Contact" class="btn btn-lg btn-round btn-outline-light mb-0"><i class="fas fa-paper-plane"></i>İletişim</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal login -->
    <!-- Modal register -->


</div>