@{
    Layout = "_AdminLayout";
}

@model WhoWeAre

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">BİZ KİMİZ EKLEME SAYFASI</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    @if (ViewBag.state == "update") 
    {
<form asp-controller="AdminWhoWeAre" asp-action="WhoWeAreGuncelle" enctype="multipart/form-data">
    <div class="card-body">
        <div class="form-group">
            <label for="exampleInputEmail1">BAŞLİK GİRİNİZ</label>
            <input type="text" class="form-control" asp-for="Header" placeholder="başlik giriniz">
            <span asp-validation-for="Header" style="color:crimson"></span>s
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">İÇERİK GİRİNİZ</label>
            <input type="text" class="form-control" asp-for="Content" placeholder="içerik giriniz">
            <span asp-validation-for="Content" style="color:crimson"></span>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" onchange="PreviewImage();">RESİM SEÇİNİZ</label>
            <input type="text" asp-for="ImageUrl" value="@Model.ImageUrl" name="ImageUrl" hidden>
            <input type="file" class="form-control uploadImage" asp-for="ImageUrl" id="ImageUrl" placeholder="resim seçiniz" onchange='openFile(event)'>
            <div>
                <img id='output' style="width : 100px;height:100px" src="/images/imgs/@Model.ImageUrl"/>
            </div>
            <span id="error-message" class="validation-error-label"></span>
            <span asp-validation-for="ImageUrl" style="color:crimson"></span>
        </div>
    </div>

    <div class="text-danger text-center" asp-validation-summary="ModelOnly"></div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">BİZ KİMİZ GUNCELLE</button>
    </div>
</form>
    }
    else
    {
        <form asp-controller="AdminWhoWeAre" asp-action="WhoWeAreEkle" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">BAŞLİK GİRİNİZ</label>
                    <input type="text" class="form-control" asp-for="Header" placeholder="başlik giriniz">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">İÇERİK GİRİNİZ</label>
                    <input type="text" class="form-control" asp-for="Content" placeholder="içerik giriniz">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" onchange="PreviewImage();">RESİM SEÇİNİZ</label>
                    <input type="file" class="form-control uploadImage" asp-for="ImageUrl" id="ImageUrl" placeholder="resim seçiniz" onchange='openFile(event)'>
                    <div>
                        <img id='output' style="width : 100px;height:100px" />
                    </div>
                    <span id="error-message" class="validation-error-label"></span>
                    <span asp-validation-for="ImageUrl" style="color:crimson"></span>
                </div>

            </div>

            <div class="text-danger text-center" asp-validation-summary="ModelOnly"></div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">BİZ KİMİZ EKLE</button>
            </div>
        </form>
    }

</div>
