@{
    Layout = "_Layout";
}



<div>



    <div class="section bg-light py-5">
        <div class="container">

            <div class="row py-4 my-5">
                <div class="col">


                    <!-- Section title style 2 left -->
                    <h5 class="font-weight-700 pb-2 mb-4">1. Giriş</h5>

                    <div class="lead-sm text-left py-4 mb-5">
                        Web sitemiz, @ViewBag.Websitesi (Bundan böyle “site”olarak anılacaktır.) çerezleri ve diğer benzer teknolojileri (Bundan böyle “çerezler” olarak anılacaktır) kullanmaktadır.  Çerezler, etkileşimde olduğumuz üçüncü taraflardan da gelebilir. Bu dökümanda size çerez kullanımımız ile ilgili 6698 Sayılı Kişisel Verilerin korunması Kanunu (KVKK) ve Avrupa Veri Koruma Tüzüğü (GDPR) kapsamında detaylı bilgi vereceğiz.
                    </div>



                </div>
            </div>


            <div class="row py-4 my-5">
                <div class="col">


                    <!-- Section title style 2 left -->
                    <h5 class="font-weight-700 pb-2 mb-4">2. Çerez Nedir?</h5>

                    <div class="lead-sm text-left py-4 mb-5">
                        Çerez, bu web sitesinin sayfalarıyla birlikte gönderilen ve tarayıcınız tarafından bilgisayarınızın sabit sürücüsünde veya başka bir cihazda saklanan küçük, basit bir dosyadır. Burada saklanan bilgiler bir sonraki ziyaret sırasında sunucularımıza veya ilgili üçüncü tarafların sunucularına iletilebilir.
                    </div>



                </div>
            </div>

            <div class="row py-4 my-5">
                <div class="col">


                    <!-- Section title style 2 left -->
                    <h5 class="font-weight-700 pb-2 mb-4">3. Açık Rıza</h5>

                    <div class="lead-sm text-left py-4 mb-5">
                        Web sitemizi ilk kez ziyaret ettiğinizde, size çerezler hakkında bir açıklama içeren pencere göstereceğiz. “Çerez Aydınlatma Metni” Düğmesini tıkladığınızda, burada açıklandığı gibi, açılır pencerede seçtiğiniz çerezlerin ve eklentilerin kategorilerini inceleyebilirsiniz. Çerez kullanımını tarayıcınız üzerinden devre dışı bırakabilirsiniz, ancak web sitemizin çalışması için gerekli zorunlu çerezler etkili olmaya devam edecektir. Eğer bunu da istemiyorsanız siteyi ziyareti sonlandırmalısınız. Zorunlu Çerezler İstatistik Pazarlama
                    </div>



                </div>
            </div>

            <div class="row py-4 my-5">
                <div class="col">
                    <h3 class="font-weight-700 pb-2 mb-4">4. Çerezler</h3>
                    <!-- Section title style 2 left -->
                    <h5 class="font-weight-700 pb-2 mb-4">4.1 Zorunlu(Fonksiyonel) Çerezler :</h5>

                    <div class="lead-sm text-left py-4 mb-5">
                        Bazı çerezler, web sitesinin belirli bölümlerinin düzgün çalışmasını ve kullanıcı tercihlerinizin bilinmesini sağlar. İşlevsel çerezler yerleştirerek web sitemizi ziyaret etmenizi kolaylaştırıyoruz.  Bu çerezleri açık rızaya gerek duymaksızın Kişisel Verilerin Korunması Kanunu 5/2-e ve f uyarınca Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması, İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması hukuki sebeplerine dayanarak kullanıyoruz.  Aydınlatma metnimizin 5. maddesinde mevcut çizelgelerde hangi zorunlu çerezleri kullandığımızı göstermekteyiz.
                    </div>



                </div>
            </div>

            <div class="row py-4 my-5">
                <div class="col">


                    <!-- Section title style 2 left -->
                    <h5 class="font-weight-700 pb-2 mb-4">4.2.  Analitik Çerezleri:</h5>

                    <div class="lead-sm text-left py-4 mb-5">
                        Kullanıcılarımız için web sitesi deneyimini optimize etmek için analitik çerezler kullanıyoruz. Bu analitik çerezler ile web sitemizin kullanımı hakkında bilgi ediniyoruz. Analitik çerezler yerleştirmek için açık rızanıza gerek duyuyoruz.
                    </div>



                </div>
            </div>

            <div class="row py-4 my-5">
                <div class="col">
                    <!-- Section title style 2 left -->
                    <h5 class="font-weight-700 pb-2 mb-4">4.3 Reklam Çerezi</h5>

                    <div class="lead-sm text-left py-4 mb-5">
                        Bu sitede reklam çerezi kullanmıyoruz
                    </div>
                </div>
            </div>

            <div class="row py-4 my-5">
                <div class="col">


                    <!-- Section title style 2 left -->
                    <h5 class="font-weight-700 pb-2 mb-4">4.4 Sosyal Medya Düğmeleri:</h5>

                    <div class="lead-sm text-left py-4 mb-5">
                        Web sitemize Facebook, Twitter, LinkedIn, WhatsApp ve Instagram için web sayfalarına (ör. “Beğen”, “pin”) bağlantı vermek için düğmeler kullanıyoruz. Bu düğmeler Facebook, Twitter, LinkedIn, WhatsApp ve Instagram’dan gelen kod parçalarını kullanarak çalışır. Bunun için çerezler yerleştirir. Bu sosyal medya düğmeleri de belirli bilgileri saklayabilir ve işleyebilir, böylece kişiselleştirilmiş bir reklam size gösterilebilir.Lütfen bu sosyal ağların gizlilik bildirimini (düzenli olarak değişebilen) okuyun. Facebook, Twitter, LinkedIn, WhatsApp ve Instagram Amerika Birleşik Devletleri’nde bulunmaktadır.
                    </div>



                </div>
            </div>


            <div class="row mb-5">
                <div class="col">

                    <h5 class="font-weight-700 pb-2 mb-4">5. Sitemizde Kullanılan Çerezler</h5>
                    <div class="lead-sm text-left py-4 mb-5">
                        <h4>Google Analytics</h4>
                        İstatistik için Google Analytics kullanıyoruz. Detaylı Bilgi
                    </div>
                    <!-- Table striped rows -->
                    
                    <table class="table table-striped mb-5">

                        <thead>
                            <tr>
                                <th scope="col">Çerez Çeşidi</th>
                                <th scope="col">Süre</th>
                                <th scope="col">İşlev</th>

                            </tr>
                        </thead>

                        <thead>

                            <tr>
                                <th scope="col">İstatistikler (Anonim)</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>_ga</td>
                                <td>2 yıl</td>
                                <td></td>
                            </tr>
                            <tr>

                                <td>_gid</td>
                                <td>1 gün</td>
                                <td>Sayfa görüntülemelerini sayar ve izler</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th scope="col">Purpose pending investigation</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>_ga_*</td>
                                <td>2 yıl</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>


            <div class="row py-4 my-5">
                <div class="col">


                    <!-- Section title style 2 left -->




                </div>
            </div>

            <div class="row py-4 my-5">
                <div class="col">


                    <!-- Section title style 2 left -->
                    <h5 class="font-weight-700 pb-2 mb-4">Automattic</h5>

                    <div class="lead-sm text-left py-4 mb-5">
                        Siteyi geliştirmek için Automattic kullanıyoruz. Detaylı Bilgi
                    </div>



                </div>
            </div>


            <div class="row mb-5">
                <div class="col">


                    <!-- Table striped rows -->

                    <div class="lead-sm text-left py-4 mb-5">
                        <h4>Sharing</h4>
                        Lütfen Detaylı Bilgi için okuyunuz Automattic Privacy Policy.
                    </div>
                    <div class="lead-sm text-left py-4 mb-5">
                        <h4>Automattic</h4>
                        Siteyi geliştirmek için Automattic kullanıyoruz. Detaylı Bilgi
                    </div>


                    <table class="table table-striped mb-5">

                        <thead>
                            <tr>
                                <th scope="col">Çerez Çeşidi</th>
                                <th scope="col">Süre</th>
                                <th scope="col">İşlev</th>

                            </tr>
                        </thead>

                        <thead>

                            <tr>
                                <th scope="col">İstatistikler</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>tk_ai</td>
                                <td>oturum kadar</td>
                                <td>Tekil kullanıcı bilgisi saklar</td>
                            </tr>

                        </tbody>

                    </table>

                </div>
            </div>


            <div class="row mb-5">
                <div class="col">


                    <!-- Table striped rows -->

                    <div class="lead-sm text-left py-4 mb-5">
                        <h4>Sharing</h4>
                        Lütfen Detaylı Bilgi için okuyunuz Automattic Privacy Policy.
                    </div>
                    <div class="lead-sm text-left py-4 mb-5">
                        <h4>JetPack</h4>
                        Reklam için jetpack kullanıyoruz. Detaylı Bilgi
                    </div>



                    <table class="table table-striped mb-5">

                        <thead>
                            <tr>
                                <th scope="col">Çerez Çeşidi</th>
                                <th scope="col">Süre</th>
                                <th scope="col">İşlev</th>

                            </tr>
                        </thead>

                        <thead>

                            <tr>
                                <th scope="col">İstatistikler</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>tk_tc</td>
                                <td>oturum kadar</td>
                                <td>Kullanım geçmişini saklar</td>
                            </tr>
                            <tr>

                                <td>tk_qs</td>
                                <td>30 dakika</td>
                                <td></td>
                            </tr>

                        </tbody>

                    </table>

                    <div class="lead-sm text-left py-4 mb-5">
                        <h4>Sharing</h4>
                        Detaylı bilgi için lütfen okuyunuz JetPack Privacy Policy.
                    </div>
                    <div class="lead-sm text-left py-4 mb-5">
                        <h4>Google Fonts</h4>
                        Sitedeki yazı tiplerini görüntüleyebilmeniz için google fonts kullanıyoruz Detaylı Bilgi
                    </div>

                    <table class="table table-striped mb-5">

                        <thead>
                            <tr>
                                <th scope="col">Çerez Çeşidi</th>
                                <th scope="col">Süre</th>
                                <th scope="col">İşlev</th>

                            </tr>
                        </thead>

                        <thead>

                            <tr>
                                <th scope="col">Pazarlama</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>Google Fonts API</td>
                                <td>yok</td>
                                <td>Kullanıcı IP adresi görüntüler</td>
                            </tr>


                        </tbody>

                    </table>
                    <div class="lead-sm text-left py-4 mb-5">

                        Detaylı Bilgi için lütfen okuyunuz Google Fonts Privacy Policy.
                    </div>

                    <div class="lead-sm text-left py-4 mb-5">

                        Google Maps
                        Google Haritalar’ı haritaların görüntülenmesi için kullanıyoruz Detaylı Bilgi
                    </div>

                    <table class="table table-striped mb-5">

                        <thead>
                            <tr>
                                <th scope="col">Çerez Çeşidi</th>
                                <th scope="col">Süre</th>
                                <th scope="col">İşlev</th>

                            </tr>
                        </thead>

                        <thead>

                            <tr>
                                <th scope="col">Pazarlama</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>Google Maps API</td>
                                <td>yok</td>
                                <td>IP adresi talep eder</td>
                            </tr>


                        </tbody>

                    </table>

                    <div class="lead-sm text-left py-4 mb-5">
                        <h4>Sharing</h4>
                        Detaylı bilgi için okuyunuz Google Maps Privacy Policy.
                    </div>
                    <div class="lead-sm text-left py-4 mb-5">
                        <h4>YouTube</h4>
                        Video görüntüleme için YouTube kullanıyoruz Detaylı Bilgi
                    </div>

                    <table class="table table-striped mb-5">

                        <thead>
                            <tr>
                                <th scope="col">Çerez Çeşidi</th>
                                <th scope="col">Süre</th>
                                <th scope="col">İşlev</th>

                            </tr>
                        </thead>

                        <thead>

                            <tr>
                                <th scope="col">Pazarlama</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>GPS</td>
                                <td>oturum süresince</td>
                                <td>Lokasyon datası saklar</td>
                            </tr>


                        </tbody>

                        <thead>

                            <tr>
                                <th scope="col">Fonksiyonel</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>

                                <td>VISITOR_INFO1_LIVE</td>
                                <td>6 ay</td>
                                <td>Bant genişliğini belirler</td>
                            </tr>


                        </tbody>

                        <thead>

                            <tr>
                                <th scope="col">İstatistikler</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>

                                <td>YSC</td>
                                <td>oturum süresince</td>
                                <td>Belirli kullanıcı kimliğini saklar</td>
                            </tr>

                            <tr>

                                <td>PREF</td>
                                <td>1 yıl</td>
                                <td>Siteler arası ziyaretleri takip eder</td>
                            </tr>


                        </tbody>

                    </table>

                    <div class="lead-sm text-left py-4 mb-5">

                        Detaylı Bilgi için lütfen okuyunuz YouTube Privacy Policy.
                    </div>

                    <div class="lead-sm text-left py-4 mb-5">
                        <h4>Facebook</h4>
                        Son sosyal yayınları ve / veya sosyal paylaşım düğmelerini görüntülemek için Facebook’u kullanıyoruz. Detaylı Bilgi
                    </div>


                    <table class="table table-striped mb-5">

                        <thead>
                            <tr>
                                <th scope="col">Çerez Çeşidi</th>
                                <th scope="col">Süre</th>
                                <th scope="col">İşlev</th>

                            </tr>
                        </thead>

                        <thead>

                            <tr>
                                <th scope="col">Pazarlama</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>actppresence</td>
                                <td>1 yıl</td>
                                <td>Reklam sıklığı görüntüleme</td>
                            </tr>

                            <tr>

                                <td>_fbc</td>
                                <td>2 yıl</td>
                                <td>Son ziyareti saklar</td>
                            </tr>

                            <tr>

                                <td>fbm*</td>
                                <td>1 yıl</td>
                                <td>Hesap detaylarını saklar</td>
                            </tr>

                            <tr>

                                <td>xs</td>
                                <td>1 yıl</td>
                                <td>Reklam sıklığı görüntüleme</td>
                            </tr>

                            <tr>

                                <td>3 ay</td>
                                <td>1 yıl</td>
                                <td>Belirli bir oturum kimliği saklar</td>
                            </tr>

                            <tr>

                                <td>fr</td>
                                <td>3 ay</td>
                                <td>Reklam hedeflemesi sağlar</td>
                            </tr>

                            <tr>

                                <td>datr</td>
                                <td>2 yıl</td>
                                <td>Sahteciliği önlemeyi amaçlar</td>
                            </tr>

                            <tr>

                                <td>sb</td>
                                <td>2 yıl</td>
                                <td>Tarayıcı bilgilerini saklar</td>
                            </tr>

                            <tr>

                                <td>*_fbm_</td>
                                <td>1 yıl</td>
                                <td>Hesap detaylarını saklar</td>
                            </tr>





                        </tbody>

                        <thead>

                            <tr>
                                <th scope="col">Fonksiyonel</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>

                                <td>wd</td>
                                <td>1 hafta</td>
                                <td>Ekran çözünürlüğünü denetler</td>
                            </tr>

                            <tr>

                                <td>act</td>
                                <td>90 gün</td>
                                <td>Kullanıcıların oturumunu açık tutar</td>
                            </tr>

                            <tr>

                                <td>c_user</td>
                                <td>90 gün</td>
                                <td>Belirli bir oturum kimliği saklar</td>
                            </tr>

                            <tr>

                                <td>csm</td>
                                <td>90 gün</td>
                                <td>Sahteciliği önlemeyi amaçlar</td>
                            </tr>

                            <tr>

                                <td>presence</td>
                                <td>oturum kadar</td>
                                <td>Tarayıcı sekmesinin aktif olmasını sağlar</td>
                            </tr>


                        </tbody>
                    </table>

                    <div class="lead-sm text-left py-4 mb-5">

                        Detaylı bilgi için okuyunuz  Facebook Privacy Policy.
                    </div>

                    <div class="lead-sm text-left py-4 mb-5">
                        <h4>Twitter</h4>
                        Twitter’ı son sosyal yayınları ve / veya sosyal paylaşım düğmelerini görüntülemek için kullanıyoruz. Detaylı Bilgi
                    </div>

                    <table class="table table-striped mb-5">

                        <thead>
                            <tr>
                                <th scope="col">Çerez Çeşidi</th>
                                <th scope="col">Süre</th>
                                <th scope="col">İşlev</th>

                            </tr>
                        </thead>

                        <thead>

                            <tr>
                                <th scope="col">Fonksiyonel</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>local_storage_support_test</td>
                                <td>Kalıcı</td>
                                <td>Yüklemeyi dengeler</td>
                            </tr>


                        <thead>

                            <tr>
                                <th scope="col">Pazarlama</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>metrics_tokent</td>
                                <td>Kalıcı</td>
                                <td>Embed içeriğini depolar</td>
                            </tr>


                        </tbody>

                    </table>
                    <div class="lead-sm text-left py-4 mb-5">

                        Detaylı bilgi için okuyunuz  Facebook Privacy Policy.
                    </div>


                    <div class="lead-sm text-left py-4 mb-5">
                        <h4>LinkedIn</h4>
                        LinkedIn’i son sosyal yayınları ve / veya sosyal paylaşım düğmelerini görüntülemek için kullanıyoruz. Daha fazla bilgi
                    </div>

                    <table class="table table-striped mb-5">

                        <thead>
                            <tr>
                                <th scope="col">Çerez Çeşidi</th>
                                <th scope="col">Süre</th>
                                <th scope="col">İşlev</th>

                            </tr>
                        </thead>

                        <thead>

                            <tr>
                                <th scope="col">Pazarlama</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>bcookie</td>
                                <td>2 yıl</td>
                                <td>Tarayıcı detaylarını saklar</td>
                            </tr>

                            <tr>

                                <td>li-oatml</td>
                                <td>1 ay</td>
                                <td>Reklam hedeflemeleri yapar</td>
                            </tr>

                            <tr>

                                <td>li_sugr</td>
                                <td>3 ay</td>
                                <td>Tarayıcı detaylarını saklar</td>
                            </tr>

                            <tr>

                                <td>UserMatchHistory</td>
                                <td>30 gün</td>
                                <td>Reklam hedeflemeleri yapar</td>
                            </tr>

                            <tr>

                                <td>lidc</td>
                                <td>1 gün</td>
                                <td>Gerçekleştirilen eylemleri web sitesinde depolar</td>
                            </tr>

                            <tr>

                                <td>bscookie</td>
                                <td>2 yıl</td>
                                <td>Gerçekleştirilen eylemleri web sitesinde depolar</td>
                            </tr>

                            <tr>

                                <td>X-LI-IDC</td>
                                <td>oturum kadar</td>
                                <td>Sayfalar arasında işlevselliği sağlar</td>
                            </tr>


                        <thead>

                            <tr>
                                <th scope="col">Fonksiyonel</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>BizographicsOptOut</td>
                                <td>10 yıl</td>
                                <td>Gizlilik tercihlerini saklar</td>
                            </tr>


                        </tbody>

                    </table>
                    <div class="lead-sm text-left py-4 mb-5">

                        Detaylı bilgi için okuyunuz  Facebook Privacy Policy.
                    </div>

                    <div class="row py-4 my-5">
                        <div class="col">


                            <!-- Section title style 2 left -->
                            <h5 class="font-weight-700 pb-2 mb-4">8. Haklarınız</h5>

                            <div class="lead-sm text-left py-4 mb-5">
                              
                                <p>-Veri Sorumlusu tarafından verilerinizin işlendiği ve Veri Sorumlusunun verilerinizi veri sorumlusu sıfatı ile işlediği ölçüde kişisel verileriniz bakımından aşağıda bulunan haklara sahipsiniz:</p>

                                <p>-Herhangi bir kişisel verinizin işlenip işlenmediğini öğrenme;</p>

                                <p>-Kişisel verilerinizin işlenme faaliyetlerine ilişkin olarak bilgi talep etme;</p>
                                <p>-Kişisel verilerinizin işlenme amaçlarını öğrenme;</p>

                                <p>-Kişisel verilerin yurt içinde veya yurt dışında üçüncü kişilere aktarılmış olması durumunda bu kişileri öğrenme;</p>
                                <p>-Kişisel verilerin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme;</p>

                                <p>-Kişisel verilerin işlenmesini gerektiren sebeplerin ortadan kalkması veya Şirket’in söz konusu verileri işleyebilmek için hukuki dayanağı veya meşru menfaatinin bulunmaması halinde kişisel verilerin silinmesini veya yok edilmesini isteme;</p>

                                <p>-Şirket’ten, yine Şirket tarafından yetkilendirilen ve kişisel verileri işleyen üçüncü kişilerin bu bölüm kapsamındaki haklarınıza saygı duymasını sağlamasını talep etme;</p>
                                <p>-Kişisel verilerin otomatik sistemler vasıtasıyla işlenmesi sonucu ortaya çıkabilecek aleyhte sonuçlara itiraz etme</p>

                                <p>-Kişisel verilerinizin kanuna aykırı bir şekilde işlenmesi sebebiyle zarara uğramanız halinde bu zararın tazmin edilmesini isteme.</p>


                            </div>



                        </div>
                    </div>

                    <div class="row py-4 my-5">
                        <div class="col">


                            <!-- Section title style 2 left -->
                            <h5 class="font-weight-700 pb-2 mb-4">9. Çerezleri Devre Dışı Bırakma</h5>

                            <div class="lead-sm text-left py-4 mb-5">
                                İnternet tarayıcınızı çerezleri otomatik veya manuel olarak silmek için kullanabilirsiniz. Ayrıca belirli çerezlerin yerleştirilemeyeceğini de belirtebilirsiniz. Başka bir seçenek, internet tarayıcınızın ayarlarını değiştirerek her çerez yerleştirildiğinde bir mesaj almanızı sağlamaktır. Bu seçenekler hakkında daha fazla bilgi için lütfen tarayıcınızın Yardım bölümündeki talimatlara bakın. Tüm çerezler devre dışı bırakılırsa web sitemizin düzgün çalışmayabileceğini lütfen unutmayın.
                            </div>



                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>



</div>